body {
  background-color: aliceblue;
}

.App {
  text-align: center;
  border: 1px solid black;
  padding: 16px;
  width: 50%;
  margin: 20px auto;
}
.App ul {
  display: block;
  cursor: pointer;
  list-style: "❤️";
}
.App li {
  text-align: start;
  margin: 10px auto;
  max-height: 70px;
  overflow-wrap: break-word;
}
.App input {
  display: block;
  margin: 20px auto;
}

.diffstyle {
  list-style: "🆗";
}

.App button {
  margin: 20px auto;
  border: none;
  background-color: black;
  color: white;
  border-radius: 20px;
  height: 30px;
  width: 150px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
